.About {
  height: 100vh;
}

.About-title {
  text-align: center;
  margin-top: 60px;
  font-size: 4rem;
}

.About-title > h1 {
  font-size: 6rem;
  color: #000000;
  font-weight: 200;
  opacity: 0.6;
  font-family: "Square Peg", cursive;
  padding: 20px;
  margin-top: 10px;
  text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.6);
  text-decoration: underline rgba(133, 133, 133, 0.1) 3px;
}

.About-container {
  width: 80%;
  position: absolute;
  left: 65%;
  transform: translate(-50%, 10%);
  display: flex;
  align-items: center;
}

.About-me-img > img {
  height: 300px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  border-radius: 50%;
  margin-right: 100px;
}

.About-me-header {
  font-size: 3rem;
}

.About-me-subHeader {
  font-size: 1.3rem;
  color: #a0e7e5;
  margin-bottom: 20px;
}

.About-me-text {
  width: 50%;
  color: rgba(133, 133, 133, 0.7);
}

.About-skills {
  margin-top: 400px;
}

.coding-skills-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 40%);
}

.coding-skills-badges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 150px;
  row-gap: 50px;
}

.badge-wrap {
  display: flex;
  flex-direction: row;
}

.badge-text {
  margin-top: 20px;
  margin-left: 10px;
  color: rgba(136, 136, 136, 0.6);
}

@media (max-width: 1400px) {
  .About {
    height: 140vh;
  }

  .About-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: -15%;
  }

  .About-me-img > img,
  .About-me-img {
    margin: 0 auto;
    left: 50%;
  }

  .About-me-header,
  .About-me-subHeader {
    text-align: center;
  }

  .About-me-header {
    margin-top: 20px;
  }

  .About-me-text {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .About-skills {
    margin-top: 700px;
  }

  .coding-skills-badges {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -40px;
  }
}

@media (max-width: 1100px) {
  .About-me-text {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .About {
    height: 160vh;
  }

  .About-container {
    width: 80%;
  }

  .About-me-text {
    width: 100%;
  }

  .coding-skills-badges {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -80px;
    width: 20%;
  }

  .About-skills {
    margin-top: 700px;
  }
}

@media (max-width: 550px) {
  .About {
    height: 240vh;
  }

  .About-skills {
    margin-top: 750px;
  }

  .coding-skills-badges {
    display: grid;
    grid-template-columns: 1fr;
  }

  .coding-skills-container {
    margin-top: -120px;
  }
}
